<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <h1><p align='center'>Smart Home appliance control_off</p></h1>
        <h2><div align='center'>RGB LED 제어를 합니다.</div></h2>
        <hr>
            <button><font size=5><a href="/red">1-red</a></font></button>
            <button><font size=5><a href="/green">1-green</a></font></button>
            <button><font size=5><a href="/blue">1-blue</a></font></button>
            <br><br>
            <button><font size=5><a href="/on">Turn-on</a></font></button>
            <button><font size=5><a href="/off">Turn-off</a></font></button>
        <hr>
    </body>
</html>
